# BEGIN Redirects
<IfModule mod_rewrite.c>
	# Redirect Wordpress directory to admin
	RewriteRule ^(wordpress|wp-admin)/$ http://%{HTTP_HOST}/wordpress/wp-admin/ [R=301,L]

	# Redirect short assets URLs
	RewriteRule ^assets/(.*)$ /content/themes/crd-core/assets/$1 [NC,L]
</IfModule>
# END Redirects

# BEGIN WordPress
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	RewriteRule ^index\.php$ - [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . /index.php [L]
</IfModule>

# END WordPress
